<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Patrick Baumann">

  <title>{% if page_title is defined %}{{page_title}} - {% endif %}Dein Leaderboard</title>
  <link rel="icon" href="{{ url_for('home') }}img/logo-dark.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ url_for('home') }}lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('home') }}lib/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('home') }}css/flag-icon.min.css">
  <link rel="stylesheet" href="{{ url_for('home') }}css/common.css">
  <link rel="stylesheet" href="{{ url_for('home') }}css/{{ template_name }}.css">
  {% block css %}{% endblock %}
</head>

<body>
  {% block navbar %}{% endblock %}

  {% block container %}
  <div class="container mt-1">
    <ol class="breadcrumb border-bottom">
      <li class="breadcrumb-item">
        <a href="{{ url_for('home') }}">{{ "Home"|trans }}</a>
      </li>
      {% block breadcrumb %}
      {% endblock %}
      <li class="breadcrumb-item active">{{ page_title }}</li>
    </ol>

    {% include "base/include/flash.twig" %}
    <div class="content">
      <h1 class="page-title">{{ page_title }}</h1>
      <div class="toolbar btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        {% block toolbar %}{% endblock %}
      </div>
      {% block content %}{% endblock %}
    </div>
  </div>
  {% endblock %}

  {% include "base/include/footer.twig" %}

  <script src="{{ url_for('home') }}lib/bootstrap/js/bootstrap-native-v4.min.js"></script>
  <script src="{{ url_for('home') }}js/common.js"></script>

  {% block js_template %}{% endblock %}
  {% block js %}{% endblock %}
</body>

</html>